@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'GmarketSansMedium';
}

a {
	text-decoration: none;
	color: black;
}

.main {
	width: 1080px;
	height: 2100px;
	margin: 10px auto;
}

.search-box {
	width: 500px;
	margin: 40px auto;
	padding: 5px;
	border-bottom: 4px solid #aaaaaa;
}

.search-text {
	margin-left: 15px;
	text-align: center;
	width: 400px;
	height: 30px;
	border: none;
	outline: none;
	font-size: 17px;
}

.search-btn {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}

.weather {
	float: left;
	margin-left: 20px;
}

.weather-loc {
	font-family: 'GmarketSansMedium';
	width: 255px;
	height: 50px;
	padding: 10px;
	text-align: center;
	background: #f6f6f6;
	border: #cccccc;
	border-radius: 20px;
}

.weather-disc{
	font-family: 'GmarketSansMedium';
	font-weight: 100;
	width: 250px;
	height: 280px;
	margin: 10px auto;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 1px 1px 10px grey;
	
}

.ad {
	width: 750px;
	height: 350px;
	float: right;
}

.main1 {
	width: 1080px;
	height: 400px;
	margin-top: 50px;
}

.main2, .main3 {
	width: 1080px;
	height: 300px;
	margin: 80px 10px 10px 10px;
}

.main4, .main5 {
	width: 520px;
	height: 350px;
	margin: 80px 10px;
	padding: 20px;
	float: left;
	border: 1px solid #f6f6f6;
	border-radius: 20px;
}

.main4 > h3 {
	font-family: 'GmarketSansMedium';
	font-weight: bold;
}
.main5 > h3 {
	font-family: 'GmarketSansMedium';
	font-weight: bold;
}
.main4 > h3 > span{
	color: #f96f59;
}
.main5 > h3 > a> span{
	color: #f96f59;
}
.main6 > a > img {
	border: solid 1px #eeeeee;
}

.search-title {
	width: 1000px;
	height: 50px;
	margin: 10px 30px;
}

.search-title > h3 {
	font-family: 'GmarketSansMedium';
	font-weight: bold;
}
.search-title > h3 > span {
  color: #f96f59;
}
.search-location{
	width: 100%;
	margin: 20px auto;
}

.search-event {
	width: 1040px;
	margin: 0px auto;
}

.event {
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.sport {
	width: 80px;
	height: 80px;
	cursor: pointer;
	margin: 40px 20px 10px 20px;
}

.community-list {
	margin: 5px 20px;
	padding: 5px;
	border-bottom: dashed 1px grey;
}

.location>img {
	width: 30px;
	height: 30px;
}

p.weatherIcon {
	margin-bottom: 0px;
}

.weatherIcon>img {
	width: 150px;
	height: 150px;
}

.temp {
	margin-bottom: 0px;
	font-size: 30px;
}
.wrap{
	width: 720px;
    height: 200px;
	margin: 10px;
	position: relative;
	left: 80px;
	overflow: hidden;
	display: inline-block;
}
	
.img_list{
	width: 1440px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}
    
.img_list li{
    float: left;
    list-style: none;
}
    
.img_list img{
	width: 200px;
	height: 200px;
	margin-right: 40px;
	cursor: pointer;
}
.btn1, .btn2 {
	display: inline-block;
	width: 30px;
	position: relative;
	margin: 20px;
	top: 50px;
	cursor: pointer;
}
.btn1 {
	float: left;
}
.btn2 {
	float: right;
}
.reservation-best {
	width: 150px;
	height: 300px;
	display: inline-block;
	margin-left: 5px;
}

.best {
	width: 140px;
	height: 120px;
}
.reservation-best p {
	width: 130px;
   	height: 20px;
   	overflow: hidden;
   	text-overflow: ellipsis;
   	white-space: nowrap;  
   	margin: 0px 5px 0px 0px;
}