@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.search-box {
	width: 500px;
	margin: 40px auto;
	padding: 5px;
	border-bottom: 4px solid #aaaaaa;
}

.search-text {
	margin-left: 15px;
	text-align: center;
	width: 400px;
	height: 30px;
	border: none;
	outline: none;
	font-size: 17px;
	background: #f6f6f6;
	font-family: 'GmarketSansMedium';
	font-weight: lighter;
}
.search-btn {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}